@import "node_modules/bulma/css/bulma.css"; /*Import Bulma*/
@import "node_modules/mathquill/build/mathquill.css"; /*Import MathQuill*/
@import "src\bulma-slider-2.0.5\dist\css\bulma-slider.min.css"; /*Import Bulma sliders*/


div{
  padding: 50px;
  margin: auto;
}

.box{
  margin-top: 25px;
}